
@{
    Layout = null;
}

<!DOCTYPE html>
@using Model
@model  Config_public_char
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @using (Html.BeginForm("Insert1", "Cpchar", FormMethod.Post))
        {
            <table width="100%">
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1"  style="width: 65px; height: 30px; border-radius: 5px;border:1px">
                        <input type="button" value="返回" class="BUTTON_STYLE1" style="width: 65px; height: 30px; border-radius: 5px; border:1px"
                               onclick="history.back();">
                    </td>
                </tr>
            </table>
            <div class="form-group">
                @Html.LabelFor(e => e.attribute_kind)
                @Html.TextBoxFor(e => e.attribute_kind, "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.attribute_name)
                @Html.TextBoxFor(e => e.attribute_name, "", new { @class = "form-control" })
            </div>
        }
    </div>
</body>
</html>
