@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css" />

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>
<body>
    <style>
        #fye {
            width: 1101px;
            padding-left: 611px;
            /* margin: 0 auto; */
            background-color: white;
        }
    </style>
    <div id="app">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--权限管理--角色管理</font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="button" value="添加角色" class="BUTTON_STYLE1" onclick="location.href='/Permissions/Insert'"  style="width: 65px; height: 30px; border-radius: 5px">
                </td>
            </tr>
        </table>
        <el-table :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column prop="RolesID"
                             label="角色编号"
                             width="350">
            </el-table-column>
            <el-table-column prop="RolesName"
                             label="角色名称"
                             width="350">
            </el-table-column>
            <el-table-column prop="RolesInstruction"
                             label="角色说明"
                             width="350">
            </el-table-column>
            <el-table-column prop="RolesIf"
                             label="是否可用"
                             width="300">

                <template slot-scope="scope">
                    <span v-if="scope.row.RolesIf === 'True'">是</span>
                    <span v-else>否</span>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button size="mini"
                               v-on:click="handleEdit( scope.row)" type="primary" style="width:70px;height:40px">编辑</el-button>
                    <el-button size="mini"
                               type="danger"
                               v-on:click="handleDelete(scope.row)" style="width:70px;height:40px">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div id="fye">
            <el-pagination v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :currentpage="currentPage"
                           :page-sizes="[5,10,15,20]"
                           :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="rows">
            </el-pagination>
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],
                    currentPage: 1,
                    pageSize: 5,
                    rows: 1,
                }
            },
            methods: {
                fill() {
                    axios.get("/Permissions/pagination?", {
                        params: {
                            CurrentPage: this.currentPage,
                            PageSize: this.pageSize
                        }
                    }).then(res => {
                            this.tableData = res.data.List;
                        this.rows = res.data.Rows;
                        console.log(res);
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }, handleSizeChange: function (size) {
                    this.pageSize = size;
                    this.currentPage = 1;
                    this.fill();
                },
                handleCurrentChange: function (cpage) {
                    this.currentPage = cpage;
                    this.fill();
                },
                //进行编辑
                handleEdit(row) {
                    //console.log(row.RolesID);
                    //location.href = "/Qx/BianJue?id=" + row.RolesID;
                    alert("功能暂未开放，敬请期待!")
                },
                //进行删除
                handleDelete(row) {
                    if (confirm("是否进行删除？")) {
                        axios.get("/Permissions/JueSc?id=" + row.RolesID)
                            .then(res => {
                                if (res.data == "2") {
                                    alert("角色正在被使用不可进行删除!");
                                } else if (res.data == "1") {
                                    alert("删除成功!");
                                    this.fill();
                                } else {
                                    alert("删除失败!");
                                }
                            })
                            .catch(res => {
                                console.log(err);
                            })

                    }
                }
            },
            mounted: function () {
                this.fill();
            }

        })
    </script>
</body>
</html>