@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>
<body>
    <div id="app">
        <form method="post" action="/HR_Fist/salaryGrant/salaryGrantAction!toCheckList">
            <table width="100%">
                <tr>
                    <td style="text-align:left;">
                        <font color="black">您正在做的业务是:人力资源管理--薪酬发放管理--薪酬发放登记复核</font>
                        <br /><br /><br />
                    </td>
                </tr>
            </table>

            <el-table :data="tableData"
                      border
                      style="width: 100%"
                      :header-cell-style="{fontSize: '20px', height:'64px'}">
                <el-table-column prop="salary_grant_id"
                                 label="薪酬发放编号"
                                 width="230">
                </el-table-column>
                <el-table-column prop="first_kind_name"
                                 label="I级机构名称"
                                 width="230">
                </el-table-column>
                <el-table-column prop="second_kind_name"
                                 label="II级机构名称"
                                 width="230">
                </el-table-column>
                <el-table-column prop="third_kind_name"
                                 label="III级机构名称"
                                 width="230">
                </el-table-column>
                <el-table-column prop="human_amount"
                                 label="人数"
                                 width="180">
                </el-table-column>
                <el-table-column prop="salary_standard_sum"
                                 label="基本薪酬总额(元)"
                                 width="180">
                </el-table-column>
                <el-table-column label="复核">
                    <template slot-scope="scope">
                        <el-button size="mini"type="primary" style="width:70px;height:40px"
                                   v-on:click="handleEdit( scope.row)">复核</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div align="center" style="font-size: 18px; color: gray; margin-top: 10px;" id="borther">
                <el-pagination v-on:size-change="handleSizeChange"
                               v-on:current-change="handleCurrentChange"
                               :currentpage="currentPage"
                               :page-sizes="[4, 8, 12, 16]"
                               :page-size="pageSize"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="rows">
                </el-pagination>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var splicing = "check_status=0";
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],//进行存储份分页数据
                    pageSize: 4,//，每页显示的条数
                    currentPage: 1,//当前页数
                    rows: 1
                }
            },
            methods: {
                //进行显示所有信息
                fill() {
                    axios.get("/Salarygrant/CheckSala", {
                        params: {
                            PageSize: this.pageSize,
                            CurrentPage: this.currentPage,
                            Condition: splicing
                        }
                    })
                        .then(res => {
                            this.tableData = res.data.List;
                            this.rows = res.data.Rows;
                            this.Totalpage = res.data.Totalpage;
                            this.tableData = res.data.List.map(item => ({
                                ...item,
                                regist_time: new Date(parseInt(item.regist_time.substr(6))).toLocaleString()
                            }));
                        }).catch(err => {
                            console.log(err);
                        })
                },
                handleSizeChange: function (size) {
                    this.pageSize = size;
                    this.currentPage = 1;
                    this.fill();
                },
                handleCurrentChange: function (cpage) {
                    this.currentPage = cpage;
                    this.fill();
                },handleEdit(row) {
                    console.log(row);
                    var sql = "";
                    if (row.first_kind_name != "") {
                        sql = "  check_status=4 AND first_kind_name IS NOT NULL AND second_kind_name IS NULL AND third_kind_name IS NULL AND first_kind_name = '" + row.first_kind_name + "'";
                    }
                    if (row.second_kind_name != "") {
                        sql = "  check_status=4 AND first_kind_name IS NOT NULL AND second_kind_name IS NOT NULL AND third_kind_name IS NULL AND second_kind_name =  '" + row.second_kind_name + "'";
                    }
                    if (row.third_kind_name != "") {
                        sql = "  check_status=4  AND first_kind_name IS NOT NULL AND second_kind_name IS NOT NULL AND third_kind_name IS NOT NULL AND third_kind_name = '" + row.third_kind_name + "'";
                    }
                    location.href = "/Salarygrant/Checkfu?id=" + sql + "&bh=" + this.tableData[0].salary_grant_id;
                }
            },
            mounted: function () {
                this.fill();
            }

        })
    </script>
</body>
</html>