
@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>

    <style type="text/css">
        .style3 {
            color: #0000CC
        }
    </style>
</head>

<body>
    <div id="app">
        <form method="post" action="">
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记变更</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <el-table :data="tableData"
                      border
                      style="width: 100%;"
                      :header-cell-style="{fontSize: '18px', height:'64px'}">
                >
                <el-table-column prop="standard_id" label="薪酬标准编号" width="250">
                    <template slot-scope="scope">
                        <span>{{ scope.row.standard_id }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="standard_name"
                                 label="薪酬标准名称"
                                 width="300">
                </el-table-column>
                <el-table-column prop="designer"
                                 label="制定人"
                                 width="260">
                </el-table-column>
                <el-table-column prop="regist_time"
                                 label="登记时间"
                                 width="280">
                </el-table-column>
                <el-table-column prop="salary_sum"
                                 label="薪酬总额"
                                 width="280">
                </el-table-column>
                <el-table-column label="变更">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary"
                                   style="width:70px;height:40px"
                                   v-on:click="handleEdit(scope.row)">变更</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <p>
            </p>
            <div align="center" style="font-size: 18px; color: gray; margin-top: 10px;" id="borther">
                <el-pagination v-on:size-change="handleSizeChange"
                               v-on:current-change="handleCurrentChange"
                               :currentpage="currentPage"
                               :page-sizes="[4, 8, 12, 16]"
                               :page-size="pageSize"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="rows">
                </el-pagination>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                tableData: [],//进行存储数据
                currentPage: 1,
                pageSize: 4,
                rows: 1,
            },
            methods: {
                fill: function () {
                    var aa=@Html.Raw(Json.Encode(ViewBag.s));
                    axios("/Sala/MoObscure", {
                        params: {
                            PageSize: this.pageSize,
                            CurrentPage: this.currentPage,
                            Condition: aa
                        }
                    }).then(res => {
                        this.tableData = res.data.List;
                        this.rows = res.data.Rows;
                        this.tableData = res.data.List.map(item => ({
                            ...item,
                            regist_time: new Date(parseInt(item.regist_time.substr(6))).toLocaleString()
                        }));
                      }) .catch(err => {
                            console.log(err);
                      })
                }, handleSizeChange: function (size) {
                    this.pageSize = size;
                    this.currentPage = 1;
                    this.fill();
                },
                handleCurrentChange: function (cpage) {
                    this.currentPage = cpage;
                    this.fill();
                }, handleEdit(row) {
                    location.href = "/Sala/SalarydetailsTwo?id=" + row.standard_id;

                },
            },
            mounted: function () {
                this.fill();
            },
        })
    </script>
</body>
</html>
